.square {
    background: rgb(233, 238, 244);
    border: 3px solid rgba(19, 4, 94, 0.66);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
    color: rgb(19, 4, 94);
  }

  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }